.split-wrapper {
  display: flex;
  width: 100%;
  height: 100%;
  background-color: white;
}
.split-wrapper .scalable {
  position: relative;
  width: 240px;
  max-width: 50vw;
  min-width: 100px;
  overflow: auto;
}
.split-wrapper .scalable .left-content {
  height: 100%;
  padding: 12px 20px 12px 12px;
}
.split-wrapper .scalable .separator {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  width: 14px;
  height: 100%;
  cursor: col-resize;
  background-color: white;
  box-shadow: -4px -2px 4px -5px rgba(0, 0, 0, 0.35), 4px 3px 4px -5px rgba(0, 0, 0, 0.35);
  align-items: center;
  justify-content: center;
}
.split-wrapper .scalable .separator i {
  width: 1px;
  height: 14px;
  margin: 0 1px;
  background-color: #e9e9e9;
}
.split-wrapper .right-content {
  flex: 1;
}
.split-wrapper .left-content,
.split-wrapper .right-content {
  overflow: auto;
}

.table-search[data-v-1f73bd71] {
  margin-bottom: 16px;
  padding: 24px 24px 0;
  background: #fff;
}
.search-submitButtons[data-v-1f73bd71] {
  display: block;
  margin-bottom: 24px;
  white-space: nowrap;
}
[data-v-1f73bd71] .ant-row {
  width: 100%;
}
[data-v-1f73bd71] .ant-form-item {
  margin-right: 0;
}
[data-v-1f73bd71] .ant-form-item.operate-button {
  margin-bottom: 0;
}
.collapse-icon[data-v-1f73bd71] {
  transform: rotate(var(--69857300));
  transition: transform 0.3s;
}

.title[data-v-1529682c] {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  color: rgba(0, 0, 0, 0.85);
  font-weight: 500;
  font-size: 16px;
}

[data-v-20895536] .ant-table-wrapper {
  padding: 0 6px 6px 6px;
}
[data-v-20895536] .ant-table-wrapper .ant-table .ant-table-title {
  display: flex;
}
[data-v-20895536] .ant-table-wrapper .ant-table .ant-btn {
  margin-right: 10px;
}
.actions > *[data-v-20895536] {
  margin-right: 10px;
}

